<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bad Request</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css" />
</head>
<body>
<!--<div th:replace="~{fragments/header :: page_header}"></div>-->
<main style="max-width: 860px; margin: 40px auto; padding: 0 16px;">
    <h1>400 - Bad Request</h1>
    <p th:if="${message == null}">Your request couldn’t be processed. It may contain invalid or missing data.</p>
    <p th:if="${message}" th:text="${message}"></p>
    <div th:if="${details}">
        <h3>Details:</h3>
        <ul>
            <li th:each="d : ${details}" th:text="${d}"></li>
        </ul>
    </div>
    <button class="btn primary" onclick="window.history.back()"style=" max-width:100%; height:auto; display:block; margin:20px auto;">Go Back</button>
</main>
<div th:replace="~{fragments/header :: page_footer}"></div>
</body>
</html>

