<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css" />
</head>
<body>
<div th:replace="~{fragments/header :: page_header}"></div>
<main style="max-width: 860px; margin: 40px auto; padding: 0 16px;">
    <h1>403 - Access Denied</h1>
    <p th:if="${message == null}">You don’t have permission to access this page.</p>
    <p th:if="${message}" th:text="${message}"></p>
    <img th:src="@{/images/error_403.png}" src="/images/error_403.png" alt="403 Error"
         style="max-width:100%; height:auto; display:block; margin:20px auto;"/>
    <button class="btn primary" onclick="window.history.back()"style=" max-width:100%; height:auto; display:block; margin:20px auto;">Go Back</button>
</main>
<div th:replace="~{fragments/header :: page_footer}"></div>
</body>
</html>

