<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server Error</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css" />
</head>
<body>
<div th:replace="~{fragments/header :: page_header}"></div>
<main style="max-width: 860px; margin: 40px auto; padding: 0 16px;">
    <h1>500 - Something went wrong</h1>
    <p th:if="${message == null}">We’re sorry, but something went wrong on our side.</p>
    <p th:if="${message}" th:text="${message}"></p>
    <img th:src="@{/images/error_500.png}" src="/images/error_500.png" alt="500 Error"
         style="max-width:100%; height:auto; margin:20px 0;"/>
    <button class="btn primary" onclick="window.history.back()"style=" max-width:100%; height:auto; display:block; margin:20px auto;">Go Back</button>
</main>
<div th:replace="~{fragments/header :: page_footer}"></div>
</body>
</html>

