<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Shop</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div th:replace="~{fragments/header :: page_header}"></div>


<main>
    <section class="pizza-menu">

        <div class="product-grid">
            <div class="product-card" th:each="pizza : ${pizzas}">
                <img class="product-image"
                     th:src="${pizza.imageUrl == null ? '/images/product_img_1.jpg' : ((#strings.startsWith(pizza.imageUrl,'http') or #strings.startsWith(pizza.imageUrl,'/images/') or #strings.startsWith(pizza.imageUrl,'images/')) ? pizza.imageUrl : '/images/' + pizza.imageUrl)}"
                     alt="Pizza Image" />
                <h3 class="product-name" th:text="${pizza.name}">Seafood Pizza Cocktail</h3>
                <p class="product-description" th:text="${pizza.description}">Shrimp, crab, ham and Thousand Island dressing.</p>
                <p class="product-price">Price from only</p>
                <p class="product-price-value" th:text="${#numbers.formatDecimal(pizza.basePrice, 0, 'COMMA', 0, 'POINT')} + 'đ'">154,000đ</p>
                <a class="buy-now-btn" th:href="@{/menu/food/{id}(id=${pizza.id})}">Buy Now</a>
            </div>

            <div th:if="${pizzas.isEmpty()}">
                <p>There are currently no products in the menu. Please come back later.</p>
            </div>
        </div>
    </section>
</main>


<div th:replace="~{fragments/header :: page_footer}"></div>


</body>
</html>